<table class="bothMQTT">
    <tr style="height:50%">
        <td style="height:100%" class="flexIt">
            <div class="bothMQTT2 flexIt">
                <nb-card class="flexIt noPaddingOrMargins">
                    <mqtt-tree></mqtt-tree>
                </nb-card>
            </div>
        </td>
    </tr>
    <tr style="height:50%">
        <td style="height:100%" class="flexIt">
            <div class="bothMQTT2 flexIt">
                <nb-card class="flexIt noPaddingOrMargins">
                    <mqtt-logs #mqLogs></mqtt-logs>
                </nb-card>
            </div>
        </td>
    </tr>
</table>