@import '../../@theme/styles/themes';

@include nb-install-component() {
    display: flex !important;
    flex: 1;

    .parentTable {
        width: 100%;
        height: 100%;
        table-layout: fixed;
    }

    .parentDiv {
        display: flex !important;
        width: 100%;
        height: 100%;
    }

    .noPaddingOrMargins {
        padding: 0;
        margin: 0;
    }
}